<ion-header>
	<ion-navbar>
		<ion-title>BearTime</ion-title>
		<ion-buttons end>
			<button ion-button (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
	<ion-segment padding [(ngModel)]="selectedDay">
		<template ngFor let-dotw [ngForOf]="daysOfTheWeek">
			<ion-segment-button [value]="dotw"(click)="sliderGoToPage(dotw)">
				{{dotw}}
			</ion-segment-button>
		</template>
	</ion-segment>
</ion-header>

<ion-content padding>
	<ion-slides #mySlider (ionDidChange)="updateSegment()">
		<template ngFor let-day [ngForOf]="userScheduleKeys">
			<ion-slide>
				<template ngFor let-block [ngForOf]="userSchedule[day]">
					<ion-card (click)="(block.name == 'Lunch') ? updateLunch(day) : null" *ngIf="!block.lunch || block.lunch - 1 == lunch[day]"
						[style.background]="colors[block.number - 1]" [@lunchState]="(block.lunch && block.name == 'Lunch') ? lunchMoveState : false"
						[@lunchClassState]="(block.lunch && block.name != 'Lunch') ? lunchClassMoveState : false">

						<ion-card-header>
							<span *ngIf="!block.name">
          		  				<ion-label style="display: inline">{{block.number}}</ion-label>
          						<ion-input type="text" 
            						placeholder="Block {{number}}" 
            						style="display: inline"
            						[(ngModel)]="block.userName"
            						(blur)="updateName(block.number, block.userName)">
          						</ion-input>
        					</span>
							<span *ngIf="block.name">
          						<h2 align="left">{{block.name}}</h2>
        					</span>
						</ion-card-header>
						<ion-card-content>
							<p align="left">{{block.start}} - {{block.end}}</p>
						</ion-card-content>
					</ion-card>
				</template>
			</ion-slide>
		</template>
	</ion-slides>
</ion-content>